
@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);
@keyframes blink {
    0% { opacity: 1; } /* Fully visible */
    50% { opacity: 0; } /* Hidden */
    100% { opacity: 1; } /* Fully visible */
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    
    outline: none;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    background: black;
    color: white;
    text-decoration: none;
}

body{
    
}

header a{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.nav{
display: flex;
flex-direction: row;
justify-content: end;
gap: 2rem;
padding: 10px;
margin-top:-60px;
font-size: 25px;





}


.nav a{
    color: pink;
    border: 2px solid #ff0073;
    border-radius: 50px;
    text-shadow: 0 0 2px #ff0073, 0 0 5px #ff0073, 0 0 10px #ff0073;
    padding: 10px;

    margin-right: 100px;

}


 .nav a:hover
{
    background-color: white;
    color: red;
    box-shadow: 0 0 25px white;
    transform: scale(1.2) translate3d(1.2, 1.2, 1.2);
    text-shadow: none;
    border: 2px solid white ;
    border-radius: 50px;
    
    
    
    
    
    
    

 }

header .icon {
    font-size: 4rem;
    color: rgb(252, 252, 252);
    text-shadow: 0 0 5px white;
    font-weight: 600;
    
    
    margin-left: 50px;

    
}

.home{
    
    
    flex-wrap: wrap;
    display: flex;
    gap: 8rem;
    font-size: 4rem;
    max-width: 100%;
    margin-top: 50px;
    

    
}



.home img{
    width: 1000px;
    height: auto;
}

.text h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;

}

#user {
    
    text-shadow: 0 0 2px #ff0073, 0 0 5px #ff0073, 0 0 10px #ff0073;
    margin-left: 5%;
}

.text h3{
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 700;
   
}

.text p{
    font-size: 1rem;
    word-wrap: break-word;
    max-width: 100%;
    
    
}

.text{
    flex: 1;
    max-width: 50%;
    word-wrap: break-word;
    align-content: center;
}
#dynamic-text{
    
    display: inline;
    
}



#dynamic-text::after{
    content:"";
    color: #ff0073;
    
    animation: typing 6s steps(9) infinite alternate;
    font-size: 4.5rem;
    
}

@keyframes typing{
    0%{
        content: "Web Designer";
    }
    25%{
        content: "Developer";
    }
    75%{
        content: "Youtuber";
    }
    100%{
        content: "Photographer";
    }
} 
    


.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #ff0073;
    border-radius: 100%;
    margin: 3rem 1.5rem 3rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    transition: 0.5s ease;
    color: pink;
    
}

.social a:hover{
    color: #fa0000;
    transform: scale(1.2) translateY(-0.2rem);
    background-color: white;
    box-shadow: 0 0 25px white;
}

.hire a{
    display: inline-flex;
    padding: 1rem 2.8rem;
    border: 2px solid #ff0073 ;
    background-color: transparent;
    border-radius: 4rem;
    margin: 3rem 1.5rem 3rem;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
    color: pink;
    transition: 0.5s ease;
}

.hire a:hover{
    background-color: white;
    color: red;
    box-shadow: 0 0 25px white;
    transform: scale(1.2) translateY(-0.4rem);
}

#skill{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h1{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    color: pink;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 50px;

    

}

.sub{
    font-size: 3rem;
    line-height: 3;
    text-align: center;
}

.skills{
    line-height: 2;
    display: inline-flex;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-content: center;
    border: #ff0073  1.5px solid;
    border-radius: 1rem;
    padding: 4rem;
    align-items: center;
    margin: 3rem 1.5rem 3rem;
    box-shadow: 0 0 10px #ff0073;
    
    
    align-content: center;
    
}
.skills h3{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    
}

.sk h3{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: pink;
    
}

.sk p{
    color: whitesmoke;
}

.sk i{
    color: white;
}

.skills:hover{
    background-color: rgb(252, 252, 252);
    transition: 0.5s ease;
    box-shadow: 0 0 25px white;
    transform: scale3d(1.1, 1.1, 1.1);

}

.skills:hover h3,
.skills:hover p,
.skills:hover i{
    color:red;
    transition: 0.5s ease;
}

iframe {
    
        width: 100%;
        height: 500px;
        border: none;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
    }



.form{
    background-color: black;
}